<a target="_blank" href="http://youtube.com/watch?v={{favorite.video_id}}">
  <div id="box">
    <div><img src="{{favorite.image}}"></div>
    <div class="wrapper-title">
      <div class="fav-title">{{favorite.title}}</div>
      <div class="fav-date">{{favorite.date}}</div>
    </div>
  </div>
</a>
<button  {{action "deleteFromFavorites" favorite}} class="style-buttons">Delete</button>
