{{#unless isHidden}}
  <li>
    <a target="_blank" href="http://youtube.com/watch?v={{highlight.id}}">
      <div><img src="{{highlight.snippet.data.thumbnails.default.url}}"></div>
      <div class="wrapper-title">
      <div>{{highlight.snippet.data.title}}</div>
      <div>{{highlight.snippet.data.publishedAt}}</div>
      </div>
    </a>
    {{#if isAuthenticated}}
      <button {{action "addToFavorites" highlight}} class="style-buttons">Add To Favorites</button>
    {{/if}}
  </li>
{{/unless}}
