{{#unless isHidden}}
  <li class="video-block">
    <a target="_blank" href="http://youtube.com/watch?v={{highlight.id}}">
      <div id="box">
      <div><img src="{{highlight.snippet.data.thumbnails.default.url}}"></div>
      <div class="wrapper-title">
      <div class="highlight-title">{{highlight.snippet.data.title}}</div>
      <div class="highlight-date">{{highlight.snippet.data.publishedAt}}</div>
      </div>
     </div>

    </a>
    {{#if isAuthenticated}}
      <button {{action "addToFavorites" highlight}} class="style-buttons">Add To Favorites</button>
    {{/if}}
  </li>
{{/unless}}
